<span class="hljs-tag">&lt;<span class="hljs-name">form</span> (<span class="hljs-attr">submit</span>)=<span class="hljs-string">&quot;$event.preventDefault()&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mat-form-field</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mat-label</span>&gt;</span>First name<span class="hljs-tag">&lt;/<span class="hljs-name">mat-label</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">matInput</span> (<span class="hljs-attr">cdkAutofill</span>)=<span class="hljs-string">&quot;firstNameAutofilled = $event.isAutofilled&quot;</span>&gt;</span>
    @if (firstNameAutofilled) {
      <span class="hljs-tag">&lt;<span class="hljs-name">mat-hint</span>&gt;</span>Autofilled!<span class="hljs-tag">&lt;/<span class="hljs-name">mat-hint</span>&gt;</span>
    }
  <span class="hljs-tag">&lt;/<span class="hljs-name">mat-form-field</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">mat-form-field</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mat-label</span>&gt;</span>Last name<span class="hljs-tag">&lt;/<span class="hljs-name">mat-label</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">input</span> <span class="hljs-attr">matInput</span> (<span class="hljs-attr">cdkAutofill</span>)=<span class="hljs-string">&quot;lastNameAutofilled = $event.isAutofilled&quot;</span>&gt;</span>
    @if (lastNameAutofilled) {
      <span class="hljs-tag">&lt;<span class="hljs-name">mat-hint</span>&gt;</span>Autofilled!<span class="hljs-tag">&lt;/<span class="hljs-name">mat-hint</span>&gt;</span>
    }
  <span class="hljs-tag">&lt;/<span class="hljs-name">mat-form-field</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">mat-raised-button</span>&gt;</span>Submit<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">form</span>&gt;</span>
