<div class="docs-markdown"><p>The <code>layout</code> package provides utilities to build responsive UIs that react to screen-size changes. </p>

        <h3 id="breakpointobserver" class="docs-header-link">
          <span header-link="breakpointobserver"></span>
          BreakpointObserver
        </h3>
      <p><code>BreakpointObserver</code> is a utility for evaluating media queries and reacting to their changing.</p>

        <h4 id="evaluate-against-the-current-viewport" class="docs-header-link">
          <span header-link="evaluate-against-the-current-viewport"></span>
          Evaluate against the current viewport
        </h4>
      <p>The <code>isMatched</code> method is used to evaluate one or more media queries against the current viewport
size.</p>
<pre><code class="language-ts"><span class="hljs-keyword">const</span> isSmallScreen = breakpointObserver.isMatched(<span class="hljs-string">'(max-width: 599px)'</span>);</code></pre>

        <h4 id="react-to-changes-to-the-viewport" class="docs-header-link">
          <span header-link="react-to-changes-to-the-viewport"></span>
          React to changes to the viewport
        </h4>
      <p>The <code>observe</code> method is used to get an observable stream that will emit whenever one of the given
media queries would have a different result.</p>
<pre><code class="language-ts"><span class="hljs-keyword">const</span> layoutChanges = breakpointObserver.observe([
  <span class="hljs-string">'(orientation: portrait)'</span>,
  <span class="hljs-string">'(orientation: landscape)'</span>,
]);

layoutChanges.subscribe(<span class="hljs-function"><span class="hljs-params">result</span> =&gt;</span> {
  updateMyLayoutForOrientationChange();
});</code></pre>

        <h4 id="default-breakpoints" class="docs-header-link">
          <span header-link="default-breakpoints"></span>
          Default breakpoints
        </h4>
      <p>A set of default media queries are available corresponding to breakpoints for different device
types.</p>
<pre><code class="language-ts"><span class="hljs-keyword">import</span> {BreakpointObserver, Breakpoints} <span class="hljs-keyword">from</span> <span class="hljs-string">'@angular/cdk/layout'</span>;

<span class="hljs-meta">@Component</span>({...})
<span class="hljs-keyword">class</span> MyComponent {
  <span class="hljs-keyword">constructor</span>(<span class="hljs-params">breakpointObserver: BreakpointObserver</span>) {
    breakpointObserver.observe([
      Breakpoints.HandsetLandscape,
      Breakpoints.HandsetPortrait
    ]).subscribe(<span class="hljs-function"><span class="hljs-params">result</span> =&gt;</span> {
      <span class="hljs-keyword">if</span> (result.matches) {
        <span class="hljs-keyword">this</span>.activateHandsetLayout();
      }
    });
  }
}</code></pre>
<p>The built-in breakpoints based on <a href="https://material.io/design/layout/responsive-layout-grid.html#breakpoints">Google&#39;s Material Design
specification</a>.
The available values are:</p>
<ul>
<li>Handset</li>
<li>Tablet</li>
<li>Web</li>
<li>HandsetPortrait</li>
<li>TabletPortrait</li>
<li>WebPortrait</li>
<li>HandsetLandscape</li>
<li>TabletLandscape</li>
<li>WebLandscape</li>
</ul>

        <h3 id="mediamatcher" class="docs-header-link">
          <span header-link="mediamatcher"></span>
          MediaMatcher
        </h3>
      <p><code>MediaMatcher</code> is a lower-level utility that wraps the native <code>matchMedia</code>. This service normalizes
browser differences and serves as a convenient API that can be replaced with a fake in unit tests.
The <code>matchMedia</code> method can be used to get a native
<a href="https://developer.mozilla.org/en-US/docs/Web/API/MediaQueryList"><code>MediaQueryList</code></a>.</p>
<pre><code class="language-ts"><span class="hljs-meta">@Component</span>({...})
<span class="hljs-keyword">class</span> MyComponent {
  <span class="hljs-keyword">constructor</span>(<span class="hljs-params">mediaMatcher: MediaMatcher</span>) {
    <span class="hljs-keyword">const</span> mediaQueryList = mediaMatcher.matchMedia(<span class="hljs-string">'(min-width: 1px)'</span>);
  }
}</code></pre>
</div>