<span class="hljs-keyword">import</span> {LayoutModule} <span class="hljs-keyword">from</span> <span class="hljs-string">&#x27;@angular/cdk/layout&#x27;</span>;
<span class="hljs-keyword">import</span> {NgModule} <span class="hljs-keyword">from</span> <span class="hljs-string">&#x27;@angular/core&#x27;</span>;
<span class="hljs-keyword">import</span> {BreakpointObserverOverviewExample} <span class="hljs-keyword">from</span> <span class="hljs-string">&#x27;./breakpoint-observer-overview/breakpoint-observer-overview-example&#x27;</span>;

<span class="hljs-keyword">export</span> {BreakpointObserverOverviewExample};

<span class="hljs-keyword">const</span> EXAMPLES = [BreakpointObserverOverviewExample];

<span class="hljs-meta">@NgModule</span>({
  <span class="hljs-attr">imports</span>: [LayoutModule],
  <span class="hljs-attr">declarations</span>: EXAMPLES,
  <span class="hljs-attr">exports</span>: EXAMPLES,
})
<span class="hljs-keyword">export</span> <span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">CdkLayoutExamplesModule</span> </span>{}
