<span class="hljs-tag">&lt;<span class="hljs-name">h1</span>&gt;</span>Favorite Animal<span class="hljs-tag">&lt;/<span class="hljs-name">h1</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">div</span>&gt;</span>
  My favorite animal is:
  <span class="hljs-tag">&lt;<span class="hljs-name">ul</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>
      @if (data.animal === &#x27;panda&#x27;) {
        <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span><span class="hljs-symbol">&amp;#10003;</span><span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
      } Panda
    <span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>
      @if (data.animal === &#x27;unicorn&#x27;) {
        <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span><span class="hljs-symbol">&amp;#10003;</span><span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
      } Unicorn
    <span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">li</span>&gt;</span>
      @if (data.animal === &#x27;lion&#x27;) {
        <span class="hljs-tag">&lt;<span class="hljs-name">span</span>&gt;</span><span class="hljs-symbol">&amp;#10003;</span><span class="hljs-tag">&lt;/<span class="hljs-name">span</span>&gt;</span>
      } Lion
    <span class="hljs-tag">&lt;/<span class="hljs-name">li</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">ul</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
