<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;example-container&quot;</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">h4</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;example-heading&quot;</span>&gt;</span>Toolbar Controls<span class="hljs-tag">&lt;/<span class="hljs-name">h4</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;example-toolbar-controls&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mat-checkbox</span> [(<span class="hljs-attr">ngModel</span>)]=<span class="hljs-string">&quot;softDisabled&quot;</span>&gt;</span>Soft Disabled<span class="hljs-tag">&lt;/<span class="hljs-name">mat-checkbox</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mat-checkbox</span> [(<span class="hljs-attr">ngModel</span>)]=<span class="hljs-string">&quot;wrap&quot;</span>&gt;</span>Wrap<span class="hljs-tag">&lt;/<span class="hljs-name">mat-checkbox</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mat-checkbox</span> [(<span class="hljs-attr">ngModel</span>)]=<span class="hljs-string">&quot;toolbarDisabled&quot;</span>&gt;</span>Disabled<span class="hljs-tag">&lt;/<span class="hljs-name">mat-checkbox</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mat-form-field</span> <span class="hljs-attr">subscriptSizing</span>=<span class="hljs-string">&quot;dynamic&quot;</span> <span class="hljs-attr">appearance</span>=<span class="hljs-string">&quot;outline&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mat-label</span>&gt;</span>Orientation<span class="hljs-tag">&lt;/<span class="hljs-name">mat-label</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mat-select</span> [(<span class="hljs-attr">value</span>)]=<span class="hljs-string">&quot;orientation&quot;</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">mat-option</span> <span class="hljs-attr">value</span>=<span class="hljs-string">&quot;vertical&quot;</span>&gt;</span>Vertical<span class="hljs-tag">&lt;/<span class="hljs-name">mat-option</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-name">mat-option</span> <span class="hljs-attr">value</span>=<span class="hljs-string">&quot;horizontal&quot;</span>&gt;</span>Horizontal<span class="hljs-tag">&lt;/<span class="hljs-name">mat-option</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-name">mat-select</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">mat-form-field</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>

  <span class="hljs-tag">&lt;<span class="hljs-name">h4</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;example-heading&quot;</span>&gt;</span>Button<span class="hljs-tag">&lt;/<span class="hljs-name">h4</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;example-toolbar-controls&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">mat-form-field</span> <span class="hljs-attr">subscriptSizing</span>=<span class="hljs-string">&quot;dynamic&quot;</span> <span class="hljs-attr">appearance</span>=<span class="hljs-string">&quot;outline&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mat-label</span>&gt;</span>Disabled Buttons<span class="hljs-tag">&lt;/<span class="hljs-name">mat-label</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mat-select</span> <span class="hljs-attr">multiple</span> [(<span class="hljs-attr">value</span>)]=<span class="hljs-string">&quot;disabledWidgets&quot;</span>&gt;</span>
        @for (widget of widgets; track widget) {
          <span class="hljs-tag">&lt;<span class="hljs-name">mat-option</span> [<span class="hljs-attr">value</span>]=<span class="hljs-string">&quot;widget&quot;</span>&gt;</span>{{widget}}<span class="hljs-tag">&lt;/<span class="hljs-name">mat-option</span>&gt;</span>
        }
      <span class="hljs-tag">&lt;/<span class="hljs-name">mat-select</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">mat-form-field</span>&gt;</span>

    <span class="hljs-tag">&lt;<span class="hljs-name">mat-form-field</span> <span class="hljs-attr">subscriptSizing</span>=<span class="hljs-string">&quot;dynamic&quot;</span> <span class="hljs-attr">appearance</span>=<span class="hljs-string">&quot;outline&quot;</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mat-label</span>&gt;</span>Disabled Groups<span class="hljs-tag">&lt;/<span class="hljs-name">mat-label</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-name">mat-select</span> <span class="hljs-attr">multiple</span> [(<span class="hljs-attr">value</span>)]=<span class="hljs-string">&quot;disabledGroups&quot;</span>&gt;</span>
        @for (group of groups; track group) {
          <span class="hljs-tag">&lt;<span class="hljs-name">mat-option</span> [<span class="hljs-attr">value</span>]=<span class="hljs-string">&quot;group&quot;</span>&gt;</span>{{group}}<span class="hljs-tag">&lt;/<span class="hljs-name">mat-option</span>&gt;</span>
        }
      <span class="hljs-tag">&lt;/<span class="hljs-name">mat-select</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-name">mat-form-field</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">div</span>
  <span class="hljs-attr">ngToolbar</span>
  [<span class="hljs-attr">wrap</span>]=<span class="hljs-string">&quot;wrap&quot;</span>
  [<span class="hljs-attr">orientation</span>]=<span class="hljs-string">&quot;orientation&quot;</span>
  [<span class="hljs-attr">disabled</span>]=<span class="hljs-string">&quot;toolbarDisabled&quot;</span>
  [<span class="hljs-attr">softDisabled</span>]=<span class="hljs-string">&quot;softDisabled&quot;</span>
  <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;example-toolbar&quot;</span>
  <span class="hljs-attr">aria-label</span>=<span class="hljs-string">&quot;Horizontal Toolbar Text Formatting Tools&quot;</span>
&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;example-group&quot;</span> <span class="hljs-attr">aria-label</span>=<span class="hljs-string">&quot;Undo and Redo options&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">toolbar-button</span> <span class="hljs-attr">value</span>=<span class="hljs-string">&quot;undo&quot;</span> [<span class="hljs-attr">disabled</span>]=<span class="hljs-string">&quot;isDisabled(&#x27;Undo&#x27;)&quot;</span>&gt;</span>undo<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">toolbar-button</span> <span class="hljs-attr">value</span>=<span class="hljs-string">&quot;redo&quot;</span> [<span class="hljs-attr">disabled</span>]=<span class="hljs-string">&quot;isDisabled(&#x27;Redo&#x27;)&quot;</span>&gt;</span>redo<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>

  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;example-separator&quot;</span> <span class="hljs-attr">role</span>=<span class="hljs-string">&quot;separator&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>

  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;example-group&quot;</span> <span class="hljs-attr">aria-label</span>=<span class="hljs-string">&quot;Text formatting options&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">toolbar-toggle-button</span> <span class="hljs-attr">value</span>=<span class="hljs-string">&quot;bold&quot;</span> [<span class="hljs-attr">disabled</span>]=<span class="hljs-string">&quot;isDisabled(&#x27;Bold&#x27;)&quot;</span>&gt;</span>format_bold<span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">toolbar-toggle-button</span> <span class="hljs-attr">value</span>=<span class="hljs-string">&quot;italic&quot;</span> [<span class="hljs-attr">disabled</span>]=<span class="hljs-string">&quot;isDisabled(&#x27;Italic&#x27;)&quot;</span>&gt;</span>
      format_italic
    <span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">toolbar-toggle-button</span> <span class="hljs-attr">value</span>=<span class="hljs-string">&quot;underline&quot;</span> [<span class="hljs-attr">disabled</span>]=<span class="hljs-string">&quot;isDisabled(&#x27;Underline&#x27;)&quot;</span>&gt;</span>
      format_underlined
    <span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>

  @if (orientation === &#x27;horizontal&#x27;) {
    <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;example-separator&quot;</span> <span class="hljs-attr">role</span>=<span class="hljs-string">&quot;separator&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">combobox</span> /&gt;</span>
  }

  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;example-separator&quot;</span> <span class="hljs-attr">role</span>=<span class="hljs-string">&quot;separator&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>

  <span class="hljs-tag">&lt;<span class="hljs-name">div</span>
    <span class="hljs-attr">ngToolbarWidgetGroup</span>
    <span class="hljs-attr">role</span>=<span class="hljs-string">&quot;radiogroup&quot;</span>
    <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;example-group&quot;</span>
    <span class="hljs-attr">aria-label</span>=<span class="hljs-string">&quot;Alignment options&quot;</span>
    [<span class="hljs-attr">disabled</span>]=<span class="hljs-string">&quot;isDisabled(&#x27;Alignment options&#x27;)&quot;</span>
  &gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">toolbar-radio-button</span> <span class="hljs-attr">value</span>=<span class="hljs-string">&quot;align left&quot;</span> [<span class="hljs-attr">disabled</span>]=<span class="hljs-string">&quot;isDisabled(&#x27;Align left&#x27;)&quot;</span>&gt;</span>
      format_align_left
    <span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">toolbar-radio-button</span> <span class="hljs-attr">value</span>=<span class="hljs-string">&quot;align center&quot;</span> [<span class="hljs-attr">disabled</span>]=<span class="hljs-string">&quot;isDisabled(&#x27;Align center&#x27;)&quot;</span>&gt;</span>
      format_align_center
    <span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">toolbar-radio-button</span> <span class="hljs-attr">value</span>=<span class="hljs-string">&quot;align right&quot;</span> [<span class="hljs-attr">disabled</span>]=<span class="hljs-string">&quot;isDisabled(&#x27;Align right&#x27;)&quot;</span>&gt;</span>
      format_align_right
    <span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>

  <span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;example-separator&quot;</span> <span class="hljs-attr">role</span>=<span class="hljs-string">&quot;separator&quot;</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>

  <span class="hljs-tag">&lt;<span class="hljs-name">div</span>
    <span class="hljs-attr">ngToolbarWidgetGroup</span>
    <span class="hljs-attr">role</span>=<span class="hljs-string">&quot;radiogroup&quot;</span>
    <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;example-group&quot;</span>
    <span class="hljs-attr">aria-label</span>=<span class="hljs-string">&quot;List options&quot;</span>
    [<span class="hljs-attr">disabled</span>]=<span class="hljs-string">&quot;isDisabled(&#x27;List options&#x27;)&quot;</span>
  &gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">toolbar-radio-button</span> <span class="hljs-attr">value</span>=<span class="hljs-string">&quot;checklist&quot;</span> [<span class="hljs-attr">disabled</span>]=<span class="hljs-string">&quot;isDisabled(&#x27;Checklist&#x27;)&quot;</span>&gt;</span>
      checklist
    <span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">toolbar-radio-button</span> <span class="hljs-attr">value</span>=<span class="hljs-string">&quot;bullet list&quot;</span> [<span class="hljs-attr">disabled</span>]=<span class="hljs-string">&quot;isDisabled(&#x27;Bullet list&#x27;)&quot;</span>&gt;</span>
      format_list_bulleted
    <span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">button</span> <span class="hljs-attr">toolbar-radio-button</span> <span class="hljs-attr">value</span>=<span class="hljs-string">&quot;numbered list&quot;</span> [<span class="hljs-attr">disabled</span>]=<span class="hljs-string">&quot;isDisabled(&#x27;Numbered list&#x27;)&quot;</span>&gt;</span>
      format_list_numbered
    <span class="hljs-tag">&lt;/<span class="hljs-name">button</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
